:root {
	--color-black: #262626;
	--color-beige: #fbf2c0;
	--color-skin: #bf8069;
}

.conteudo {
	background: #bf8069;
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 85vh;
}
.container {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	/* border: 2px solid #fff; */
	justify-content: center;
	align-items: center;
}
.titulo {
	margin-top: 50px;
	background-color: var(--color-black);
	border-radius: 20px;
	color: var(--color-beige);
	text-align: center;
	padding: 1.5rem;
	font-family: poppins;
	background: var(--color-black);
}

.containerGrafico {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.buttons {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.btn {
	width: fit-content;
	text-decoration: none;
	background: var(--color-black);
	color: var(--color-beige);
	border: 2px solid var(--color-black);
	padding: 0.4rem 1rem;
	font-weight: 500;
	transition: 300ms ease-in;
	border-radius: 5px;
}
.btn:hover {
	color: var(--color-black);
	border: 2px solid var(--color-black);

	background: transparent;
}
@media (max-width: 1024px) {
	.containerGrafico {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
